/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #FDF6EC;
}
h1,h2,h3,h4,h5,p,label{
  color: #463f3a;
}





